$black: #000000;
$green: #12772A;
$light-green: rgb(156, 202, 25);
$white: #ffffff;

a {
  color: $black;
}

a:hover {
  color: $black;
}

.nav-corner {
  color: $green;
}

.navbar-default .navbar-nav > li > a {
  color: $light-green;
}
.navbar > .container-fluid .navbar-brand {
  color: $light-green;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.075);
  border: 1px solid rgba(0, 0, 0, 0);
}

.sign-up-sign-in a {
  color: $white;
}
