$black: #000000;
$white: #ffffff;
$green: #12772A;

a {
  color: $black;
}

a:hover {
  color: $black;
}

.nav-corner {
  color: $green;
}

.navbar-default .navbar-nav > li > a {
  color: $green;
}
.navbar > .container-fluid .navbar-brand {
  color: $green;
}
