// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }


@font-face {
  font-family: 'MelmaCracked';
  src: url('/fonts/MelmaCracked.ttf')  format('truetype');
}
@font-face {
  font-family: 'Muchacho';
  src: url('/fonts/Muchacho.otf')  format('opentype');
}
@font-face {
  font-family: 'Redbud-Regular';
  src: url('/fonts/Redbud-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Redbud-Spurs';
  src: url('/fonts/Redbud-Spurs.ttf')  format('truetype');
}

html,
body {
    width: 100%;
    height: 100%;
}

body.ember-application {
  margin: 0;
  padding: 0;
}

.index-header {
    color: #fff;
    display: table;
    position: relative;
    width: 100%;
    height: 600px;
}

.index-header h1 {
  display: table-cell;
  font-family: 'Redbud-Regular';
  text-transform: uppercase;
  font-size: 60px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  text-align: center;
  vertical-align: middle;
}

.landing-section {
  background-color: #fff;
  height: 400px;
}

.glyphicon-map-marker {
  font-style: italic;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.map-canvas {
    height: 500px;
    width: 200px;
}
