@font-face {
  font-family: 'SlimJoe';
  src: url('fonts/SlimJoe.eot');
  // IE9 Compat Modes //
  src: url('fonts/SlimJoe.eot?#iefix') format('embedded-opentype'),
  // IE6-IE8 //
  url('style-fonts/SlimJoe.woff2') format('woff2'),
  // Super Modern Browsers //
  url('fonts/SlimJoe.woff') format('woff'),
  // Pretty Modern Browsers //
  url('fonts/SlimJoe.ttf') format('truetype'),
  // Safari, Android, iOS //
  url('fonts/SlimJoe.svg#svgFontName') format('svg');
  // Legacy iOS //
}

@font-face {
  font-family: 'MelmaCracked';
  src: url('fonts/MelmaCracked.ttf') format('truetype');
}

@font-face {
  font-family: 'MelmaLine';
  src: url('fonts/MelmaLine.ttf') format('truetype');
}

@font-face {
  font-family: 'Redbud-Regular';
  src: url('fonts/Redbud-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Redbud-Spurs';
  src: url('fonts/Redbud-Spurs.ttf') format('truetype');
}

@font-face {
  font-family: 'MoonLight';
  src: url('fonts/MoonLight.otf') format('opentype');
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MoonLight', 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
}

.index-header {
  color: #fff;
  display: table;
  position: relative;
  width: 100%;
  height: 600px;
}

.index-header h1 {
  display: table-cell;
  font-family: 'Redbud-Regular', 'MelmaCracked', 'Skranji', cursive;
  font-size: 60px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  word-break: break-all;
}

h1,
h2,
h3 {
  font-family: 'Redbud-Spurs', 'MelmaCracked', 'Skranji', cursive;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
  text-shadow: none;
}

.navbar > .container-fluid .navbar-brand {
  text-shadow: none;
}

.landing-section {
  background-color: #fff;
  height: 400px;
  padding-bottom: 20px;
}

.landing-about {
  padding-bottom: 20px;
}

.glyphicon-map-marker {
  font-style: italic;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.map-canvas {
  height: 500px;
  width: 200px;
}

.about-details,
.landing-about {
  margin: 20px;
}

.plan-pricing {
  text-align: center;
}

.plan-pricing > div {
  margin-bottom: 6px;
}


form,
.upcoming-trip-details,
.plan form {
  margin: 0 auto;
  max-width: 440px;
  text-align: center;
}


.sign-up-sign-in {
  bottom: 10px;
  position: fixed;
  right: 10px;
}



#ribbon-container {
  position: absolute;
  top: 9%;
  right: -20px;
  overflow: visible;
  font-size: 18px;
  line-height: 18px;
}

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  border-top: 29px solid rgba(0, 0, 0, .3);
  border-bottom: 29px solid rgba(0, 0, 0, .3);
  border-right: 29px solid rgba(0, 0, 0, .3);
  border-left: 29px solid transparent;
}

#ribbon-container:after {
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
}

#ribbon-container a {
  display: block;
  padding: 20px;
  position: relative;
  background: #12772A;
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

#ribbon-container a:after {
  // the "folded" part of the ribbon //
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid #004a70;
  border-right: 15px solid transparent;
}

#ribbon-container a:before {
  // the "forked" part of the ribbon //
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  border-top: 29px solid #12772A;
  border-bottom: 29px solid #12772A;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}

#ribbon-container a:hover {
  background: #009ff1;
}

#ribbon-container a:hover:before {
  // the "forked" part of the ribbon changes color with the anchor on :hover `//`
  border-top: 29px solid #004a70;
  border-bottom: 29px solid #004a70;
}
