<h1>Hiking Chirrip&oacute;</h1>

<p>The ultimate in Costa Rica hiking is to reach the summit of Mt Chirripó – Cerro Chirripó.  But it is not for the faint of heart. Exceptionally strong hikers can summit and return in a single day, but most mortals spend two to three days hiking the steep mountain. Overnight hikers spend the night at Crestones Base Camp, a rugged lodge located at 11,155 feet (3,400 meters) that’s 3.4 miles (5.5 km) from Chirripó’s summit. Although hardly luxurious, Crestones base camp puts Chirripó within the reach of average hikers and makes sunrise summits feasible.</p>


<p>The trailhead to Chirripó is located 0.6 miles (2 km) from the center of San Gerardo de Rivas. Crestones Base Camp is located 9 miles (14.5 km) from the trailhead. Average hiking time to the summit: 8–10 hours. Those hiking Chirripó are required start their hike before 10am. (The average descent is 5–7 hours, and visitors are required to depart before noon.) The trail starts off steep and rugged, providing a good taste of what’s to come. Wooden sign posts mark each kilometer. At kilometer 4 you’ll reach the official park boundary. At kilometer 7.5 you’ll reach Llano Bonito Refuge, which offers water and bathrooms. Once past the refuge, you’ll encounter three of the trail’s most challenging sections: Cuesta de Agua (“Water Slope”), Monte Sin Fe (“Faithless Mountain”), and Cuesta de los Arrepentidos(“The Slope of Regret”). As you climb you’ll see lots of burnt trees. Forest fires—some natural, some man-made—have burned in the park nearly every decade since the 1950s.</p>

{{#link-to 'new'}}
  <h2>Plan your Trip</h2>
{{/link-to}}
