<h2>Upcoming Reservations</h2>

{{#each reservation as |reservation|}}
  {{#link-to 'reservation' reservation}}
    <h2>{{moment-format reservation.permitStartDate 'LL'}}</h2>
  {{/link-to}}
{{/each}}
