<h3>Permits &amp; Lodging:</h3>

<div class="plan-pricing">
  <div>Park Entry Permit:</div>
  <div>$15 USD per person per day</div>
  <div>Lodging Accomodations at Crestones Base Camp:</div>
  <div>$35 USD per person per night</div>
  <div>Includes sheet, pillow, &amp; sleeping bag</div>
</div>
